*.env
/Docker/Backend/conf/.pgpass
/Docker/Backend/conf/.pg_service.conf
**/__pycache__/
*.pyc
/backend/ft_transcendenceBackend/staticfiles
backend/ft_transcendenceBackend/media/profile_pictures/*profile_picture*