.inner-container3 {
    border: 2px solid rgba(124, 48, 155, 0.7);
    border-radius: 10px;
    padding: 0px;
    margin-top: 18vh;
    height: 75vh;
    background-color: #ddd;
    opacity: 0.85;
    flex-shrink: 0;
    box-shadow: 10px 20px 10px rgb(21, 1, 37);
    margin-bottom: 30px;
}

.career-select {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(124, 48, 155, 0.7);
    border-radius: 8px 8px 0 0;
    padding: 5px;
    margin: 0px;
}

.clock-icon {
    font-size: 22px;
    padding-left: 10px;
    margin-right: 10px;
}

.career-text {
    font-size: 20px;
    font-family: 'Space Mono', monospace;
}

.friend-item3 {
    border: 2px solid rgba(173, 102, 255, 0.7);    
    width: 100%;
    height: 60px;
    background-color: transparent;
    display: flex;
    justify-content: flex-start; 
    margin: 1px auto;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
    /* background-color:#b0d5fc; */
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;

}

.friend-info {
    /* flex-grow: 1; */
}


.icon-chat, .icon-controller, .icon-settings, .icon-block, .accept-request, .decline-request {
    font-size: 1rem;
    /* margin-left: auto;  */
    cursor: pointer;
    padding: 0 5px; 
    color: black;
}

.icon-chat:hover, .icon-controller:hover, .icon-settings:hover {
    color: rgba(164, 94, 202);
}

.friends-list-content3 {
    max-height: 65vh;
    overflow-y: auto;
    flex: 1; 
    min-width: 100px; 
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 15px 10px;
}

.friends-list-content3 .friend-item3:hover {
    color: rgba(164, 94, 202); 
    border: 3px solid rgba(173, 102, 255, 0.7);
}

.icon-friend-profile {
    font-size: 1.5rem;
    margin-left: auto; 
    cursor: pointer;
    padding: 0 5px; 
}

/* cont animation  */

/* Base class for animation */


/* Left container slide out to the left */
.left-slide-out {
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}

/* Right container slide out to the right */
.right-slide-out {
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

/* Middle container slide down */
.middle-slide-out {
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
}

.left-slide-in {
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

/* Right container slide in from the right */
.right-slide-in {
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

/* Middle container slide up */
.middle-slide-in {
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
}

.third-tab{
    visibility: hidden;
    pointer-events: none;
}


/* non related */

.nicknameAndIcon {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */

}

.messageIcon {
    margin-left: 0.3rem;
}

.messageIcons {
    margin-left: 0.2rem;
    display: none; /* Layout the icons in a row */
    /* border: 1px solid rgba(49, 48, 48, 0.5); */
    /* border-radius: 10px;
    padding-left: 0.35rem;
    padding-right: 0.35rem; */

}

.messageAddIcon {
    font-size: 0.85rem;
    margin-left: 0.5rem;
}

.messageIcon:hover {
    color: rgba(173, 102, 255, 0.7); 
}

.nicknameAndIcon:hover .messageIcons {
    display: flex;  /* Show icons on hover */
    align-items: center;
}

.nicknameAndIcon:hover .bi-caret-right-fill {
    display: none;
}


/* .messageIcons.active {
    display: flex;
    align-items: center;

} */

.bi-caret-right-fill {
    color: rgba(41, 41, 95, 0.7);
    font-size: 0.75rem;
    padding-top: 3px;
    margin-left: 0.4rem;
}

/* .bi-caret-right-fill:hover {
    color: rgba(103, 55, 158, 0.7);
} */

