
.game-container {
    position: relative;
    height: 100%; 
    background-color: rgba(124, 48, 155, 0.7);
    /* border: 2px solid rgba(103, 40, 128, 0.7);  */
    border-radius: 8px;
    display: none;
}

#button-container{
    width: auto;
    height: 15%;
    /* border-top-right-radius: 10px;
    border-top-left-radius: 10px;  */
    /* background-color: rgba(124, 48, 155, 0.7);  */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#button-container .button {
    height: auto;
}

#principal-container {
    width: auto;
    height: 100%;
    /* background-color: rgba(124, 48, 155, 0.7);  */
    justify-content: center;
    position : relative
}

#bottom-container {
    width: auto;
    height: 15%;
    /* border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;  */
    /* background-color: rgba(124, 48, 155, 0.7);  */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.grid-item {
    display: flex;
    flex-direction: column;
}

#tournament-form {
    height: max-content;
    visibility: hidden;
}

#tournament-game-form {
    border-radius: 10px;
    border: 3px solid black;
    background-color: white;
    width: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 25%;
    padding: 10px;
    z-index: 2;
}

#tournament-input-container {
    padding: 10px;
}

.player-input {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
}

.add-player-button {
    height: 35px;
    cursor: pointer;
    border-radius: 30px;
    width: 35px;
    margin: auto;
    background-color: #02ff02;
    font-weight: bold;
    font-size: larger;
    transition: background-color 0.2s ease; 
}
.add-player-button:hover {
    background-color: #57e757;
}

.gameCanvas{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.waiting-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
}

.waiting-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    animation: pulse 1s infinite alternate; /* Apply pulsating animation */
}

@keyframes pulse {
    from {
        opacity: 0.5; /* Lower opacity */
        transform: scale(1);
    }
    to {
        opacity: 1; /* Full opacity */
        transform: scale(1.1); /* Scale up slightly */
    }
}

#next-match{
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    background-color: rgb(112, 56, 177);
    color: white;
    cursor: pointer;
}

