
.game-container {
    height: 100%; 
    background-color: #3498db;
    border: 2px solid #2980b9; 
    border-radius: 10px; 
}

#button-container{
    width: auto;
    height: 15%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px; 
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#button-container .button {
    height: auto;
}

#principal-container {
    width: auto;
    height: 70%;
    background-color: green;
    display: flex;
    justify-content: center;
}

#bottom-container {
    width: auto;
    height: 15%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; 
    background-color: yellow;
}

#duel-form {
    height: max-content;
    visibility: hidden;
}
#duel-game-form {
    border-radius: 10px;
    border: 3px solid black;
    background-color: white;
}

#duel-input-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

#duel-game-form input {
    width: 50%; /* Take full width */
    height: 20px;
}

#duel-game-form button {
    height: 35px;
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.grid-item {
    display: flex;
    flex-direction: column;
}

#tournament-form {
    height: max-content;
    visibility: hidden;
}

#tournament-game-form {
    border-radius: 10px;
    border: 3px solid black;
    background-color: white;
}

#tournament-input-container {
    padding: 10px;
}

.player-input {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
}

.add-player-button {
    height: 35px;
    cursor: pointer;
}
