
.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1000;
}
.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1001;
}

.login-message {
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px #333; 
}

#login-button {
    height: 50px;
    width: 140px;
    color: rgb(255, 255, 255);;
    background: linear-gradient(to left, rgb(240, 116, 240),  rgb(166, 110, 235))var(--p, 100%) / var(--p,0%) no-repeat, rgb(166, 110, 235);
    transition: 1s, background-position 0s;
    border-radius: 20px;
    border: 1.5px solid  #00bfff;
    font-size: 1.23rem;
    font-weight: bold;
}

#login-button:hover {
    color: rgb(164, 238, 238);
    --p: 100%;
    cursor:pointer;
}

#loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(164, 56, 185, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loader {
    border: 8px solid rgba(255, 255, 255, 0.5);
    border-top: 8px solid rgb(240, 1, 208);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }