/* Navbar styles */

.navbar-custom {
    border: 2px solid #ddd;
    position: fixed;
    right: 1.5%;
    top: 10px;
    padding: 0;
    border-radius: 10px;
    height: 45px;
    opacity: 0.8;
    box-shadow: 10px 20px 10px rgb(21, 1, 37);
    margin-bottom: 30px;
}

.profile-separator {
    border-left: 1px solid #ddd;
    margin: 2%;
}

/* .profile-pic-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 25%;
    margin: 5px;
    object-fit: cover;
    image-rendering: auto;

} */

.profile-pic-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-top: 5px;
    overflow: hidden;
    border-radius: 25%; 
    align-items: center;
    justify-content: center;
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
    transform-origin: center;
    align-items: center;
    justify-content: center;
}


.nav-button {
    background: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-button.active .nav-icons {
    color: rgba(164, 94, 202);
}

.nav-icons {
    font-size: 1.5rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    margin: 10px;
    padding: 0;
}