body, html {
    height: 100%;
    margin: 0;
    min-width: 960px;
    min-height: 540px;
    overflow-x: auto;
    overflow-y: hidden;
    background-image: url('../assets/universe1.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}
/* 
#myVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
} */