
#join-private-game-div {
    height: max-content;
    visibility: hidden;
}

#join-private-game-form {
    border-radius: 10px;
    border: 3px solid black;
    background-color: white;
    width: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 25%;
    padding: 10px;
    z-index: 2;
}

.input-private-game-id {
    position: relative;
}

.send-button.join {
    position: absolute;
    top: 15%;
    right: 2%;
}
