body {
    background-image: url('../images/background.png');
    background-size: cover; /* Pour que l'image couvre tout l'arrière-plan */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-attachment: fixed; /* Cette ligne peut être ajoutée pour fixer l'image en arrière-plan lorsque la page est scrollée */
}


#gameBoard{
    align-self: center;
    padding: 10px; /* Espace intérieur du formulaire */
    background-color: #f0f0f0; /* Couleur de fond */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Ombre légère */
    display: none;
}
    
#scoreGame{
    align-self: center;
    margin-bottom: 3%;
    padding: 5px; /* Espace intérieur du formulaire */
    background-color: #f0f0f0; /* Couleur de fond */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Ombre légère */
    display: none;
}

#gameContainer
{
    background-attachment: fixed; /* Cette ligne peut être ajoutée pour fixer l'image en arrière-plan lorsque la page est scrollée */
    width: 70%; /* Largeur du rectangle */
    height:85%; /* Hauteur du rectangle */
    background-color: #f0f0f0; /* Couleur de fond du rectangle */
    position: absolute; /* Positionnement absolu */
    top: 5%;/* Centrer le rectangle verticalement */
    left: 15%; /* Centrer le rectangle horizontalement */
    z-index: -1; /* S'assurer que le rectangle reste en arrière-plan */
    border: 10px solid #5468FF; /* Contour bleu foncé et épais */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#buttons-div{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: auto;
    height: 25%;
}

#bracketContainer {
    justify-content: center;
  } 
  