{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong Game</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/1container-styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/2container-styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/3container-styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/gamecontainer.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/video-background.css' %}">
    <link rel="stylesheet" href="{% static 'css/small-windows.css' %}">
</head>
<body>

    <!-- Video Background -->
    <!-- <video autoplay muted loop id="myVideo">
        <source src="assets/bg.mp4" type="video/mp4">
    </video> -->
    
    {% if not token %}
    <div class="blur-background"></div>
    <div class="centered-text">
        <h2 class="login-message">Please login with 42 to access transcendence</h2>
        <button id="login-button" onclick="redirectToLogin()">Login with 42</button>
    </div>
    {% endif %}
    <div id="loading-container">
        <div class="loader"></div>
      </div>
    <!--navbar-->
    <nav class="navbar navbar-expand bg-body-tertiary navbar-custom">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <button class="nav-button play" data-button="play">
                        <i class="bi bi-controller nav-icons"></i>
                    </button>
                    <button class="nav-button chat active" data-button="chat">
                        <i class="bi bi-chat-dots nav-icons"></i>
                    </button>
                    <button class="nav-button friends" data-button="profile">
                        <i class="bi bi-person nav-icons"></i>
                    </button>
                    <button class="nav-button achievements" data-button="achievements">
                        <i class="bi bi-award nav-icons"></i>
                    </button>
                    <button class="nav-button settings" data-button="settings">
                        <i class="bi bi-gear nav-icons"></i>
                    </button>
                    <!-- Profile picture and separator -->
                    <div class="profile-separator d-none d-lg-block"></div>
                    <a class="nav-link d-none d-lg-block" href="#">
                        <div class="profile-pic-wrapper">
                            <img src="{% static 'assets/pfp.png' %}" class="profile-pic" />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </nav>    

    <div class="container-fluid">
        <div class="row">
            <!-- FIRST TAB -->
            <div class="col-3 col-lg-3 first-tab">
                <div class="inner-container1 mx-1">
                    <div class="social-section">
                        <i class="bi bi-people social-icon"></i>
                        <span class="social-text">Social</span>
                    </div>
                    <div class="button-container">
                        <div class="FriendsChannels">
                            <button class="social-button" id="button1">FRIENDS</button>
                            <button class="social-button active" id="button2">CHANNELS</button>
                        </div>
                        <!-- Content for Friends -->
                        <div id="friendsContainer" class="content-container"  style="display: none;">
                            <button class="add-friend-button">ADD FRIEND</button>
                            <button class="friend-tab-button" id="friendsTab">
                                <i class="bi bi-people"></i> Friends <i class="bi bi-chevron-down arrow-icon"></i>
                            </button>
                            <!-- Content container for Friends -->
                            <div id="friendsTabContent" class="friends-tab-content">
                            </div>
                        
                            <button class="friend-tab-button" id="outgoingRequestsTab">
                                <i class="bi bi-arrow-bar-right"></i> Outgoing Requests <i class="bi bi-chevron-down arrow-icon"></i>
                            </button>
                            <!-- Content container for Outgoing Requests -->
                            <div id="outgoingRequestsTabContent" class="friends-tab-content">
                            </div>
                        
                            <button class="friend-tab-button" id="incomingRequestsTab">
                                <i class="bi bi-arrow-bar-left"></i> Incoming Requests <i class="bi bi-chevron-down arrow-icon"></i>
                            </button>
                            <!-- Content container for Incoming Requests -->
                            <div id="incomingRequestsTabContent" class="friends-tab-content">
                            </div>
                            <button class="friend-tab-button" id="blockedTab">
                                <i class="bi bi-slash-circle"></i> Blocked <i class="bi bi-chevron-down arrow-icon"></i>
                            </button>
                            <!-- Content container for Blocked -->
                            <div id="blockedTabContent" class="friends-tab-content">
                            </div>
                        </div>
                        <!-- Channels Container -->
                        <div id="channelsContainer" class="content-container">
                            <!-- Content for Channels -->
                            <button class="create-channel-button">CREATE CHANNEL</button>
                            <button class="join-channel-button">JOIN CHANNEL</button>
                            <div id="channelsTabContent" class="channels-tab-content">
                                <!--EXAMPLE (needs to be removed)-->
                                <div class="channel-item global-chat-item">
                                    <i class="bi bi-globe2 global-chat-icon"></i>
                                    <div class="friend-info">
                                        <div>Global Chat</div>
                                    </div>
                                    <i class="bi bi-chat channels-icon "></i>
                                </div>

                                <div class="channel-item" data-id="channelId1">
                                    <img src="{% static 'assets/pfp.png' %}" alt="Friend's Name" class="friend-image">
                                    <div class="friend-info">
                                        <div>Channels Name</div>
                                    </div>
                                    <i class="bi bi-chat channels-chat icon-chat"></i> <!-- Chat icon -->
                                    <i class="bi bi-gear channels-settings icon-settings"></i> <!-- Controller icon -->
                                </div>

                                <div class="channel-item"  data-id="channelId2">
                                    <img src="{% static 'assets/pfp.png' %}" alt="Friend's Name" class="friend-image">
                                    <div class="friend-info">
                                        <div>Channelss Name</div>
                                    </div>
                                    <i class="bi bi-chat channels-chat icon-chat"></i> <!-- Chat icon -->
                                    <i class="bi bi-gear channels-settings icon-settings"></i> <!-- Controller icon -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SECOND TAB -->
            <div class="col-6 col-lg-6 3cols second-tab";>
                <div class="inner-container2 mx-1">
                    <div class="chat-tab">
                        <div class="chat-heading">
                            <i class="bi bi-chat-dots chat-icon"></i>
                            <span class="social-text">Messages</span>
                        </div>
                        <div class="chat-messages">
                            <!-- MESSAGE EXANMPLE -->
                            <div class="chat-message">
                                <div class="user-icon-container">
                                    <img src="{% static 'assets/pfp.png' %}" alt="User" class="user-icon">
                                </div>
                                <div class="message-details">
                                    <span class="nickname">User's Nickname</span>
                                    <div class="text-and-time">
                                        <div class="message-text">This is an example chat message. This is an example chat message. This is an example chat message.</div>
                                        <span class="message-time">10:30 AM</span>
                                    </div>
                                </div>
                            </div>

                            <div class="chat-message">
                                <div class="user-icon-container">
                                    <img src="{% static 'assets/pfp.png' %}" alt="User" class="user-icon">
                                </div>
                                <div class="message-details">
                                    <span class="nickname">User's Nickname</span>
                                    <div class="text-and-time">
                                        <div class="message-text">This is an example chat message. This is an example chat message. This is an example chat message.</div>
                                        <span class="message-time">10:30 AM</span>
                                    </div>
                                </div>
                            </div>

                            <div class="chat-message">
                                <div class="user-icon-container">
                                    <img src="{% static 'assets/pfp.png' %}" alt="User" class="user-icon">
                                </div>
                                <div class="message-details">
                                    <span class="nickname">User's Nickname</span>
                                    <div class="text-and-time">
                                        <div class="message-text">This is an example chat message. This is an example chat message. This is an example chat message.</div>
                                        <span class="message-time">10:30 AM</span>
                                    </div>
                                </div>
                            </div>

                            <div class="chat-message">
                                <div class="user-icon-container">
                                    <img src="{% static 'assets/pfp.png' %}" alt="User" class="user-icon">
                                </div>
                                <div class="message-details">
                                    <span class="nickname">User's Nickname</span>
                                    <div class="text-and-time">
                                        <div class="message-text">This is an example chat message. This is an example chat message. This is an example chat message.</div>
                                        <span class="message-time">10:30 AM</span>
                                    </div>
                                </div>
                            </div>
                            
                                                
                        </div>
                        <div class="message-input-area">
                            <input type="text" class="message-input" placeholder="Type your message here...">
                            <button class="send-button">Send</button>
                        </div>
                    </div>
                    <div class="settings-tab">
                        <!-- Settings Heading -->
                        <div class="settings-heading">
                            <i class="bi bi-gear settings-icon"></i>
                            <span class="social-text">Settings</span>
                        </div>
                    
                        <!-- User Profile Section -->
                        <div class="settings-body">
                            <div class="pfp-container">
                                <img src="{% static 'assets/pfp.png' %}" alt="User Profile" class="user-pfp pfp-settings">
                            </div>

                            <div class="user-info">
                                <div class="username-label">Username:</div>
                                <div class="username-and-button">
                                    <div id="current-username" class="current-username">CurrentUsername</div>
                                    <button class="change-username-button">Change</button>
                                </div>
                            </div>
                        
                            <!-- 2FA Section -->
                            <div class="tfa-info">
                                <div class="tfa-label">Two Factor Authentication:</div>
                                <div class="tfa-and-button">
                                    <div class="current-tfa">Disabled</div>
                                    <button class="tfa-button">Change</button>
                                </div>
                            </div>
                        
                            <!-- Toggles for Music, Animations, and Sound Effects -->
                            <div class="settings-toggles">
                                <div class="toggle-item">
                                    <span>Music</span>
                                    <div class="toggle-switch" id="music-toggle" onclick="toggleSetting(this)"></div>
                                </div>
                                <div class="toggle-item">
                                    <span>Animations</span>
                                    <div class="toggle-switch" id="animations-toggle" onclick="toggleSetting(this)"></div>
                                </div>
                                <div class="toggle-item">
                                    <span>Sound Effects</span>
                                    <div class="toggle-switch" id="sound-effects-toggle" onclick="toggleSetting(this)"></div>
                                </div>
                            </div>
                            <div class="settings-actions">
                                <button class="settings-button logout-button">Logout</button>
                                <button class="settings-button delete-account-button">Delete Account</button>
                            </div>
                        </div>
                    </div>
                    <div class="achievements-tab">
                        <!-- Achievements Heading -->
                        <div class="achievements-heading">
                            <i class="bi bi-award achievements-icon"></i>
                            <span class="social-text">Achievements</span>
                        </div>
                        
                        <!-- Achievements Content -->
                        <div class="achievements-content">
                        </div>
                    </div>
                    <div class="profile-tab">
                        <!-- User Profile Heading -->
                        <div class="user-profile-heading">
                            <img id="userPfp" src="{% static 'assets/pfp.png' %}" alt="User" class="user-pfp">
                            <div class="user-details">
                                <div id="username" class="username">Username</div>
                                <div class="additional-info">
                                    <span id="joinedDate">Joined: xx/xx/xxxx</span>
                                    <span id="matchesPlayed">Matches Played: 99</span>
                                </div>
                            </div>
                        </div>
                        <div class="profile-body">
                            <!-- Game History Section -->
                            <div class="game-history">
                                <div class="section-heading">Game History</div>
                            </div>
                            <!-- Achievements Section -->
                            <div class="user-achievements">
                                <div class="section-heading">Achievements</div>
                            </div>
                        </div>
                    </div>
                    <div class="game-container">
                        <div id="button-container">
                            <button>Duel</button>
                            <button>Tournament</button>
                        </div>
                        <div id="principal-container">
                            <div id="duel-form" class="form-container">
                                <form id="duel-game-form">
                                    <div id="duel-input-container">
                                        <label for="player1">Player 1:</label>
                                        <input type="text" id="player1" name="player1" required>
                            
                                        <label for="player2">Player 2:</label>
                                        <input type="text" id="player2" name="player2" required>
                                        <button type="button">Start Game</button>
                                    </div>
                                </form>
                            </div>
                            <div id="tournament-form" class="form-container">
                              
                            </div>
                            <div id="pong-container">
                                <canvas id="gameCanvas" width="100" height="100"></canvas>
                            </div>
                        </div>
                        <div id="bottom-container"></div>
                    </div>
                </div>
            </div>                  
                </div>
            </div>
            <!-- THIRD TAB -->
            <div class="col-3 col-lg-3 third-tab">
                <div class="inner-container3 mx-1">
                    <div class="career-select">
                        <i class="bi bi-clock-history clock-icon"></i>
                        <span class="career-text">Career's</span>
                    </div>
                    <!-- Friends List Content -->
                    <div id="friendsListContent" class="friends-list-content">
                        <!-- Friend Item Example (to be dynamically generated/updated) -->
                        <div class="friend-item3">
                            <img src="{% static 'assets/pfp.png' %}" alt="Friend's Name" class="friend-image">
                            <div class="friend-info">
                                <div class="friend-nickname">Friend's Name</div>
                            </div>
                            <i class="bi bi-person icon-friend-profile"></i>
                        </div>
                        <div class="friend-item3">
                            <img src="{% static 'assets/pfp.png' %}" alt="Friend's Name" class="friend-image">
                            <div class="friend-info">
                                <div class="friend-nickname">Friend's Name</div>
                            </div>
                            <i class="bi bi-person icon-friend-profile"></i>
                        </div>
                        <div class="friend-item3">
                            <img src="{% static 'assets/pfp.png' %}" alt="Friend's Name" class="friend-image">
                            <div class="friend-info">
                                <div class="friend-nickname">Friend's Name</div>
                            </div>
                            <i class="bi bi-person icon-friend-profile"></i>
                        </div>
                        <!-- Additional friend items will be similar -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/writing.js' %}"></script>
    <script src="{% static 'js/navigation.js' %}"></script>
    <script src="{% static 'js/socialButtons.js' %}"></script>
    <script src="{% static 'js/modalManagement.js' %}"></script>
    <script src="{% static 'js/tabManagement.js' %}"></script>
    <script src="{% static 'js/smallButtons.js' %}"></script>
    <script src="{% static 'js/game_pannel/gameForm.js' %}"></script>
    <script src="{% static 'js/game_pannel/game/pong.js' %}"></script>
    <script src="{% static 'js/game_pannel/duel.js' %}"></script>
    <script src="{% static 'js/game_pannel/gameMessages.js' %}"></script>
    <script src="{% static 'js/game_pannel/tournament.js' %}"></script>
    <script src="{% static 'js/login.js'%}"></script>
    <script src="{% static 'js/channelChat.js' %}"></script>
    <script src="{% static 'js/ajaxCalls.js' %}"></script>
    <script src="{% static 'js/ajaxCalls1Tab.js' %}"></script>
    <script src="{% static 'js/globalChat.js' %}"></script>
    <script src="{% static 'js/webSocket.js' %}"></script>


</body>
</html>
