{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>testGame</title>
  </head>
  <body>
    <main>
        <h1>Welcome gameTest</h1>  
    </main>
  <div class="test-message-input-area">
    <input type="text" class="test-message-input" placeholder="Type your message here...">
    <button class="test-send-button">Send</button>
  </div>
	<canvas id="gameCanvas"></canvas>
  </body>
  <script src="{% static 'js/game_pannel/pong.js' %}"></script>
</html>