{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet"  href="{% static 'game.css' %}">
</head>
<body>
    <p><canvas id="scoreGame" height="25" width="400"></canvas></br>
    <canvas id="gameBoard" height="400" width="600"></canvas></p>
    <button id="startButon">Start</button>


    <script>
        // Set a global variable in the HTML template
        var pseudo1 = "{{ p1 }}";
        var pseudo2 = "{{ p2 }}"
    </script>

    <script src="{% static 'game.js' %}"></script>
</body>
</html>
